body
{
    margin:0;
    font-family:Arial,sans-serif;
     background: linear-gradient( 135deg, #0f172a 0%,  #1e1b4b 50%,  #0f172a 100%);
    color:#ffffff 
}
body::before{
    content:"";
    position:fixed;
    width:350px;
    height:350px;
    background:#3b82f6;
    filter:blur(180px);
    opacity:0.12;
    top:10%;
    left:-150px;
    z-index:-1;
    color:#ffffff 
}

body::after{
    content:"";
    position:fixed;
    width:350px;
    height:350px;
    background:#8b5cf6;
    filter:blur(180px);
    opacity:0.12;
    bottom:10%;
    right:-150px;
    z-index:-1;
}
section{
    animation: fadeIn 1s ease;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}


.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    display:flex;
    justify-content:space-between;
    padding:15px 40px;
    background-color: rgba(15, 23, 42, 0.85);
}
.logo{
    color: #ffffff;
    display:flex;
    align-items: center;
    font-size: 25px;
}
.navbar ul
{
    display: flex;
    gap: 20px;
    list-style: none;
}
.navbar a{
    color: white;
    text-decoration:none;
    font-size: 20px;
}
.navbar a{
    position:relative;
}

.navbar a::after{
    content:"";
    position:absolute;
    width:0;
    height:2px;
    bottom:-5px;
    left:0;
    background:#60a5fa;
    transition:0.3s;
}

.navbar a:hover::after{
    width:100%;
}
.hero{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items:center;
}
.hero-content{
    width: 60%;
}
.hero-content h1{
    font-size: 30px;
    margin-bottom: 10px;

    background:linear-gradient(
        135deg,
        #60a5fa,
        #a78bfa
    );
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.typing{
    color:#60a5fa;
    font-weight:bold;
    border-right:3px solid #60a5fa;
    padding-right:5px;
    animation:blink 0.7s infinite;
}

@keyframes blink{
    50%{
        border-color:transparent;
    }
}
.hero-content p{
    font-size: 1rem;
    line-height: 1.5;
    color:#cbd5e1;
}
.hero-content button{
    
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    color: #0f172a;
   background:linear-gradient(135deg,#3b82f6,#8b5cf6);
}

.social-links a{
    font-size:28px;
    color:#60a5fa;
    transition:0.3s;
}

.social-links a:hover{
    transform:translateY(-5px);
    color:#a78bfa;
}
.hero-content button a{
    color:white;
    text-decoration:none;
}
.social-links{
    margin-top:20px;
    display:flex;
    gap:20px;
}

.hero-image{
    width:30%;
    text-align:center;
}
.hero-image img {
    width: 350px;
    height:350px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #60a5fa;
    object-position:center top;
}

.about{
    padding: 100px 10%;
}
.about-title h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:white;
}
.about-title h3{
    text-align: center;
   
    margin-bottom: 70px;
     font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(135deg,#60a5fa,#a78bfa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.about-container{
    display: flex;
    gap: 70px;
}
.about-left p {
    color: #cbd5e1;
    line-height: 1.6;
    display: start;
    
}
.tags{
    margin-top: 50px;
}
.tags span{
    display: center;
    margin: 5px;
   padding:10px 18px;
    margin-right:10px;
    border :1px solid #6366f1;
    border-radius: 20px;
    color: #cbd5e1;
    background:linear-gradient(135deg,#78a9f8,#9469fa);
}
.tags span{
    transition:0.3s;
}

.tags span:hover{
    transform:translateY(-3px);
}

.about-right{
    flex: 1;
    display: grid;
    grid-template-columns:repeat(2,260px);
    gap: 30px;
}
.card{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(99,102,241,0.3);
    border-radius:20px;
    padding:20px;
    transition:0.3s;
}

.skills{
    padding: 100px 10%;
}
.skills h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:white;
}
.skill-title h3{
    text-align: center;
   
    margin-bottom: 70px;
     font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(135deg,#60a5fa,#a78bfa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills-container{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:40px;
}
.skill-card{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(99,102,241,0.3);
    border-radius:20px;
    padding:5px;
    transition:0.3s;
    text-align: center;
}
.skill-card:hover{
    transform:translateY(-10px) scale(1.05);
    box-shadow:0 0 30px rgba(96,165,250,0.35);
}
.skill-card h3{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}

.skill-logo{
    width:30px;
    height:30px;
    object-fit:contain;
}
.projects{
    padding: 100px 10%;
}
.projects h2{
  text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:white;
}
.project-subtitle{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(135deg,#60a5fa,#a78bfa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(350px , 1fr));
    gap: 30px;
}
.project-card{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:20px;
    overflow:hidden;
    transition:0.3s; 
}
.project-card:hover{
    transform:translateY(-10px);
     box-shadow:0 0 30px rgba(96,165,250,0.35);
}
.project-header{
    height:180px;
    overflow:hidden;
}

.project-header img{
    width:100%;
    height:100%;
    object-fit:cover;
  transition:0.4s;
    
}


.project-card:hover img{
    transform:scale(1.05);
}
.project-card h3{
    padding: 20px 20px 10px;
    text-align: center;
}
.project-card p{
    padding: 0 20px;
    color:#cbd5e1
}
.tech-stack{
    padding: 20px;
}
.tech-stack span{
    display: inline;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    background:rgba(96,165,250,0.15);
    color:#60a5fa;
}
.project-btn{
   
    display:block;
    width:fit-content;
    margin:20px auto;
    padding:10px 20px;
    background:linear-gradient(135deg,#3b82f6,#8b5cf6);
    color:white;
    text-decoration:none;
    border-radius:10px;
    
    
}   
.education{
    padding:100px 10%;
}

.education h2{
    text-align:center;
    font-size:40px;
    margin-bottom:60px;
    color:white;
}

.timeline{
    position:relative;
    max-width:900px;
    margin:auto;
}

.timeline::before{
    content:"";
    position:absolute;
    left:18px;
    top:0;
    width:3px;
    height:100%;
    background:linear-gradient(135deg,#3b82f6,#8b5cf6);
}

.timeline-item{
    position:relative;
    margin-bottom:35px;
    padding-left:60px;
}

.timeline-dot{
    position:absolute;
    left:8px;
    top:15px;
    width:20px;
    height:20px;
    border-radius:50%;
    background:#60a5fa;
    border:3px solid #0f172a;
     box-shadow:0 0 30px rgba(96,165,250,0.35);
}

.timeline-content{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    
    padding:25px;
    border-radius:20px;
    transition:0.3s;
}

.timeline-content:hover{
    transform:translateY(-5px);
     box-shadow:0 0 30px rgba(96,165,250,0.35);
}

.timeline-content h3{
    margin:0;
    color:white;
    font-size:22px;
}

.timeline-content h4{
    margin:10px 0;
    color:#60a5fa;
    font-size:18px;
}

.timeline-content p{
    color:#cbd5e1;
    margin:6px 0;
    line-height:1.6;
}
.certifications{
    padding:100px 10%;
}

.certifications h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:white;
}

.cert-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.cert-card{
    background:rgba(255,255,255,0.05);
    
    border:1px solid rgba(255,255,255,0.1);
    border-radius:20px;
    overflow:hidden;
    transition:0.3s;
}

.cert-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px rgba(96,165,250,0.25);
}

.cert-card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.cert-card h3{
    padding:15px 20px 5px;
    margin:0;
    color:white;
}

.cert-card p{
    padding:0 20px;
    color:#60a5fa;
}

.cert-btn{
    display:inline-block;
    margin:15px 20px 20px;
    padding:10px 18px;
    text-decoration:none;
    color:white;
    border-radius:10px;
    background:linear-gradient(135deg,#3b82f6,#8b5cf6);
}

.cert-btn:hover{
    opacity:0.9;
}
.contact{
    padding:100px 10%;
}

.contact h2{
    text-align:center;
    font-size:40px;
    margin-bottom:15px;
}

.contact-subtitle{
    text-align:center;
    color:#cbd5e1;
    margin-bottom:50px;
}

.contact-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.contact-info{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.info-card{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    
    border-radius:15px;
    padding:20px;
}

.info-card h3{
    margin-bottom:10px;
}

.info-card a{
    color:#60a5fa;
    text-decoration:none;
}
.contact{
    padding:100px 10%;
}

.contact h2{
    text-align:center;
    font-size:40px;
    color:white;
    margin-bottom:50px;
}

.contact-cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.contact-card,
.info-card{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    
    border-radius:20px;
    padding:30px;
    text-align:center;
    transition:0.3s;
}

.contact-card:hover,
.info-card:hover{
    transform:translateY(-8px);
    box-shadow:0 0 25px rgba(96,165,250,0.3);
}

.contact-card h3,
.info-card h3{
    color:white;
    margin-bottom:15px;
    font-size:22px;
}

.contact-card p,
.info-card p{
    color:#cbd5e1;
    font-size:16px;
    word-break:break-word;
}

.contact-card a{
    color:#60a5fa;
    text-decoration:none;
    font-size:16px;
    font-weight:500;
}

.contact-card a:hover{
    color:#8b5cf6;
}
html{
    scroll-behavior:smooth;
}
.footer{
    text-align:center;
    padding:30px;
    border-top:1px solid rgba(255,255,255,0.1);
}

.footer-social{
    margin-top:15px;
}

.footer-social a{
    color:#60a5fa;
    font-size:24px;
    margin:0 10px;
    transition:0.3s;
}

.footer-social a:hover{
    color:#a78bfa;
}

@media (max-width:768px){

    .navbar{
        flex-direction:column;
        align-items:center;
    }

    .navbar ul{
        flex-wrap:wrap;
        justify-content:center;
        padding:0;
    }

    .hero{
        flex-direction:column-reverse;
        text-align:center;
        height:auto;
        padding:50px 10%;
    }

    .hero-content{
        width:100%;
    }

    .hero-image{
        width:100%;
        margin-bottom:30px;
    }

    .hero-image img{
        width:250px;
        height:250px;
    }

    .about-container{
        flex-direction:column;
    }

    .about-right{
        grid-template-columns:1fr;
    }

    .projects{
        padding:80px 5%;
    }

    .project-container{
        grid-template-columns:1fr;
    }

    .skills-container{
        grid-template-columns:repeat(2,1fr);
    }

    .contact-cards{
        grid-template-columns:1fr;
    }
}